$primary-blue: #0069d9;
$light-gray: #eee;
$warm-gray: #333;
$font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$semi-light-gray: #d8d8d8;
$primary-blue-hover: darken($primary-blue, 10%);