@import 'utils/mixins';

.home__container {
    &_title {
        @include TitleStyles;
        margin-left: 50px;
        letter-spacing: 1px;
    }

    &_link {
        color: $primary-blue;
        margin-left: 50px;
        font-size: 15px;
    }

    &_table {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid $semi-light-gray;
        border-bottom: 1px solid $semi-light-gray;
        margin-top: 20px;

        &_head {
            font-family: $secondary-font;
            padding: 5px;

        }
        
        .content {
            max-width: 200px;
            text-align: center;
        }
    }
}